.projects-work-description {
  height: 90vh;
  width: 100%;
  background-size: cover;
  background-image: url(/public/assets/projects/lighting.png);
  background-position: center;
}

.projects-work-description p {
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  color: #fff;
  padding-top: 16%;
}

@media (max-width: 768px) {
  .projects-work-description {
    height: auto;
    padding: 60px 20px;
  }
  .projects-work-description p {
    font-size: 20px;
    padding-top: 0;
    line-height: 30px;
  }
}
