.commitment {
  padding: 64px 24px;
}

.commitment__container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 64px;
  direction: ltr;
}

.commitment__content {
  padding: 30px;
}

.commitment__label {
  font-size: 14px;
  font-weight: 600;
  color: #00d4ff;
  letter-spacing: 2px;
  margin-bottom: 16px;
  text-transform: uppercase;
}

.commitment__title {
  font-size: 64px;
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 24px;
  color: #ffffff;
  text-align: left;
}

.commitment__title span {
  display: block;
}

.commitment__highlight {
  color: #00d4ff;
}

.commitment__text {
  font-size: 18px;
  color: #a0a0a0;
  margin-bottom: 32px;
  line-height: 1.8;
  text-align: left;
}

.commitment__stats {
  display: flex;
  gap: 32px;
}

.stat {
  display: flex;
  flex-direction: column;
  background-color: #1e3035;
  padding: 6px 12px;
  border-radius: 8px;
}

.stat__value {
  font-size: 32px;
  font-weight: 700;
  color: #00d4ff;
}

.stat__label {
  font-size: 14px;
  color: #a0a0a0;
  margin-top: 8px;
}

.commitment__features {
  display: grid;
  grid-template-columns: 1fr;
  gap: 32px;
}

.feature-card {
  padding: 0px  15px 20px 15px;
  border-radius: 16px;
  background: linear-gradient(
    135deg,
    rgba(0, 212, 255, 0.05) 0%,
    rgba(0, 212, 255, 0.02) 100%
  );
  border: 1px solid rgba(0, 212, 255, 0.1);
  transition: all 0.3s ease-in-out;
}

.feature-card:hover {
  border-color: #00d4ff;
  background: linear-gradient(
    135deg,
    rgba(0, 212, 255, 0.1) 0%,
    rgba(0, 212, 255, 0.05) 100%
  );
}

.feature-card__icon {
  font-size: 32px;
  color: #00d4ff;
  margin-bottom: 24px;
}

.feature-card__title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 16px;
  color: #ffffff;
}

.feature-card__text {
  font-size: 14px;
  color: #a0a0a0;
  margin-bottom: 24px;
  line-height: 1.6;
}

.feature-card__list {
  list-style: none;
}

.feature-card__list li {
  font-size: 14px;
  color: #a0a0a0;
  padding-left: 24px;
  position: relative;
}

.feature-card__list li::before {
  content: "✓";
  position: absolute;
  left: 0;
  color: #00d4ff;
  font-weight: bold;
}

.feature-card__links {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}

.feature-card__links a {
  text-decoration: none;
  font-size: 12px;
  font-weight: 300;
  border-radius: 12px;
  padding: 3px 6px;
  color: #00c2ff;
  background-color: rgba(0, 195, 255, 0.205);
  border: 1px solid rgba(0, 195, 255, 0.048);
}