.team-hero-section {
  background-image: url("/public/assets/team/team-background.png");
  height: 100vh;
  background-position: center;
  background-size: cover;
}
.team-hero-content {
  display: grid;
  grid-template-columns: 80% 20%;
}

.team-hero-info {
  padding: 180px 40px 50px 0px;
  width: 80%;
}
.team-hero-info span {
  font-size: 18px;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  font-weight: 300;
  color: #13a4ec;
  padding-bottom: 13px;
}

.team-hero-info h1 {
  font-size: 72px;
  font-weight: 600;
  color: #f1f5f9;
}

.team-hero-info h1::after {
  content: "     R3A2";
  background: linear-gradient(90deg, #13a4ec, #22d3ee);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.team-hero-info p {
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;

  color: #94a3b8;
}
