.loading {
  background-image: url("/public/assets/Loading-screen.png");

  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-bar {
  margin-top: 420px;
  display: flex;
  align-items: center;
  gap: 20px;
  width: 40%;
}
